<header class="site-header">

  <div class="wrap">

    <span>
      
    <a href="{{ site.baseurl }}/" class="brand">
    <img src="{{site.images.logo | prepend: site.baseurl }}" alt="Logo" />
    {{ site.title }}
    </a>
    Documentation
    </span>


    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
